[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-cors = "*"
flask_httpauth = "*"
requests = "*"
python-dotenv = "*"
selenium = "*"
redis = "*"
pytz = "*"
pymongo = "*"
slack-webhook = "*"
gunicorn = "*"
dnspython = "*"

[requires]
python_version = "3.8"
